.chatroom-name {
  border-radius: 7px;
  color: #dfedff;
  background-color: #4622fe;
  cursor: pointer;

  &:hover {
    background-color: var(--chatroom-btn-press);
  }
  &:active {
    background-color: var(--chatroom-btn-press);
  }
}
