@use "../abstracts/breakpoints" as b;

/* * {
  border: solid;
  border-width: 0.1rem;
} */

.grid-main {
  display: grid;
  grid-template-columns: 1fr;
  height: 98vh;
}

.join-container {
  height: 80%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  padding: 5;

  &__wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
    &__head {
      font-size: 4rem;
      height: 12%;
    }
    &__input {
      margin-top: 15vh;
      height: 6%;
      width: 50%;
    }
  }

  @include b.breakpoint(medium) {
    width: 70%;
  }

  @include b.breakpoint(large) {
    width: 55%;
  }

  @include b.breakpoint(x-large) {
    width: 35%;
  }
}

.chatroomlist-container {
  height: 80%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 5;
  justify-items: center;

  &__head-one {
    font-size: 4rem;
    height: 70%;
  }
  &__head-three {
    font-size: 1.5rem;
    height: 70%;
  }

  &__button {
    height: 5vh;
    width: 35vw;
    margin-top: 1rem;
  }

  @include b.breakpoint(medium) {
    width: 70%;
    &__button {
      width: 30vw;
    }
  }

  @include b.breakpoint(large) {
    width: 55%;
    &__button {
      width: 25vw;
    }
  }

  @include b.breakpoint(x-large) {
    width: 35%;
    &__button {
      width: 20vw;
    }
  }
}

.chatroom-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;

  @include b.breakpoint(medium) {
    width: 70%;
  }

  @include b.breakpoint(large) {
    width: 55%;
  }

  @include b.breakpoint(x-large) {
    width: 35%;
  }

  &__heading {
    display: flex;
    height: 5%;
    width: 100%;
    box-shadow: 0px 15px 10px -15px;
    justify-content: center;

    &__btn {
      width: 10%;
      height: 100%;
      border: none;
      background: none;
    }
    &__head {
      margin-left: 2rem;
    }
  }

  &__msg-container-receive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 0;
    height: fit-content;
    width: 100%;

    &__msg-name-receive {
      height: fit-content;
      width: fit-content;
      font-size: 1rem;
      text-align: left;
    }

    &__msg-receive {
      height: fit-content;
      width: 80%;
      text-align: left;
    }
  }

  &__msg-container-send {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2rem 0;
    width: 100%;
    height: fit-content;

    &__msg-name-send {
      height: fit-content;
      width: fit-content;
      text-align: right;
      font-size: 1rem;
    }

    &__msg-send {
      height: fit-content;
      width: 80%;
      text-align: right;
    }
  }
}

.msg-input-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__msg-input {
    height: 80%;
    width: 70%;
  }

  @include b.breakpoint(medium) {
    &__msg-input {
      height: 80%;
      width: 70%;
    }
  }

  @include b.breakpoint(large) {
    &__msg-input {
      height: 80%;
      width: 55%;
    }
  }

  @include b.breakpoint(x-large) {
    &__msg-input {
      height: 80%;
      width: 35%;
    }
  }
}

/* .chatroom-heading {
  height: 100%;
  width: 100%;
  box-shadow: 0px 15px 10px -15px;
  text-align: center;
} 

.message-container {
  margin: 2rem 0;
  height: 40%;
  width: 100%;
} 

.message-received {
  float: left;
  margin: auto;
  width: 80%;
}

.message-send {
  float: right;
  margin: auto;
  width: 80%;
  text-align: right;
}

.message-name-received {
  float: left;
  font-size: 1rem;
}

.message-name-send {
  float: right;
  font-size: 1rem;
}



*/
